﻿@using Model
@model HashDigest
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div>Pre hashed</div>
    <p>@((string)ViewData["hashPre"])</p>
    <form method="post" action="@Url.Action("Send","Home")">
        <label>Mercant Id</label>
        <input tyep="text" name="MerchantID" value="@Model.MerchantID" />
        <label>Amount</label>
        <input tyep="text" name="Amount" value="1000" />
        <label>CurrencyCode</label>
        <input tyep="text" name="CurrencyCode" value="826" />
        <label>EchoAVSCheckResult</label>
        <input tyep="text" name="EchoAVSCheckResult" value="false" />
        <label>EchoCV2CheckResult</label>
        <input tyep="text" name="EchoCV2CheckResult" value="false" />
        <label>EchoThreeDSecureAuthenticationCheckResult</label>
        <input tyep="text" name="EchoThreeDSecureAuthenticationCheckResult" value="false" />
        <label>EchoCardTypevalue</label>
        <input tyep="text" name="EchoCardTypevalue" value="false" />
        <label>AVSOverridePolicy</label>
        <input tyep="text" name="AVSOverridePolicy" value="PPPP" />
        <label>CV2Overridepolicy</label>
        <input tyep="text" name="CV2Overridepolicy" value="PP" />
        <label>ThreeDSecureOverridePolicy</label>
        <input tyep="text" name="ThreeDSecureOverridePolicy" value="true" />
        <label>OrderID</label>
        <input tyep="text" name="OrderID" value="Order-1234" />
        <label>TransactionType</label>
        <input tyep="text" name="TransactionType" value="SALE" />
        <label>TransactionDateTime</label>
        <input tyep="text" name="TransactionDateTime" value="@DateTime.Now.AddHours(-1).ToString("yyyy-MM-dd hh:mm:ss")"/>
        <label>CallbackURL</label>
        <input tyep="text" name="CallbackURL" value="http://www.somedomain.com/callback.php" />
        <label>OrderDescription</label>
        <input tyep="text" name="OrderDescription" value="A test order" />
        <label>CustomerName</label>
        <input tyep="text" name="CustomerName" value="A Customer" />
        <label>Address1</label>
        <input tyep="text" name="Address1" value="1 Some Street" />
        <label>Address2</label>
        <input tyep="text" name="Address2" value="" />
        <label>Address3</label>
        <input tyep="text" name="Address3" value="" />
        <label>Address4</label>
        <input tyep="text" name="Address4" value="" />
        <label>City</label>
        <input tyep="text" name="City" value="Some City" />
        <label>State</label>
        <input tyep="text" name="State" value="Some State" />
        <label>PostCode</label>
        <input tyep="text" name="PostCode" value="PO54 3DD" />
        <label>CountryCode</label>
        <input tyep="text" name="CountryCode" value="44" />
        <label>EmailAddress</label>
        <input tyep="text" name="EmailAddress" value="test@test.com" />
        <label>PhoneNumber</label>
        <input tyep="text" name="PhoneNumber" value="12345678" />
        <label>EmailAddressEditable</label>
        <input tyep="text" name="EmailAddressEditable" value="false" />
        <label>PhoneNumberEditable</label>
        <input tyep="text" name="PhoneNumberEditable" value="false" />
        <label>CV2Mandatory</label>
        <input tyep="text" name="CV2Mandatory" value="false" />
        <label>Address1Mandatory</label>
        <input tyep="text" name="Address1Mandatory" value="false" />
        <label>CityMandatory</label>
        <input tyep="text" name="CityMandatory" value="false" />
        <label>PostCodeMandatory</label>
        <input tyep="text" name="PostCodeMandatory" value="false" />
        <label>StateMandatory</label>
        <input tyep="text" name="StateMandatory" value="false" />
        <label>CountryMandatory</label>
        <input tyep="text" name="CountryMandatory" value="false" />
        <label>ResultDeliveryMethod</label>
        <input tyep="text" name="ResultDeliveryMethod" value="POST" />
        <label>ServerResultURL</label>
        <input tyep="text" name="ServerResultURL" value="false" />
        <label>PaymentFormDisplaysResult</label>
        <input tyep="text" name="PaymentFormDisplaysResult" value="false" />
        <button id="toHash" onclick="getHash()">Send</button>
    </form>
</div>