﻿@using Model
@model Dictionary<string, string>
@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send</h2>
<div>
    <form action="https://mms.payvector.net/Pages/PublicPages/PaymentForm.aspx" method="post">
        @foreach (var item in Model)
        {
            <label>@item.Key</label>
            <input type="text" name="@item.Key" value="@item.Value" />
        }
        <button type="submit">Send</button>
    </form>
</div>
@section scripts{
    <script>
        $(function(){
            //$("form").submit();
        });
    </script>
}